.checkout-container {
  max-width: 600px;
  margin: auto;
  padding: 24px;
}

.checkout-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

/* ADDRESS */
.address-card {
  background: #ffffff;
  border-radius: 14px;
  padding: 16px;
  box-shadow: 0 6px 16px rgba(0,0,0,0.08);
  margin-bottom: 20px;
}

  .address-card h3 {
    margin-bottom: 12px;
  }

  .address-card input,
  .address-card textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    border-radius: 10px;
    border: 1px solid #ccc;
  }

/* SUMMARY */
.summary-card {
  background: #ffffff;
  border-radius: 14px;
  padding: 16px;
  box-shadow: 0 6px 16px rgba(0,0,0,0.08);
  margin-bottom: 20px;
}

.summary-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  font-size: 14px;
}

.summary-total {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  margin-top: 12px;
}

/* BUTTON */
.place-order-btn {
  width: 100%;
  padding: 14px;
  background: #00b35a;
  color: white;
  border: none;
  border-radius: 14px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}
