.footer-container {
  padding: 24px 32px; /* Top-bottom and left-right padding */
  background-color: #f8f8f8;
}

  .footer-container h3 {
    margin-bottom: 20px;
    font-size: 18px;
  }

.footer-columns {
  display: flex;
  justify-content: space-between;
  max-width: 700px;
  margin: 0 auto;
}

.footer-column {
  list-style: none;
  padding: 0;
}

  .footer-column li {
    padding: 6px 0; /* Vertical spacing between links */
    font-size: 14px;
  }
