<div class="orders-container">

  <div class="orders-header">
    <h2>Orders Management</h2>

    <div class="actions">
      <input
        type="text"
        placeholder="Search Order ID..."
        class="search-input"
        [(ngModel)]="searchTerm"
      />

      <select
        class="filter-select"
        [(ngModel)]="selectedStatus">

        <option value="All">All</option>
        <option value="Delivered">Delivered</option>
        <option value="Returned">Returned</option>
        <option value="Pending">Pending</option>
        <option value="Cancelled">Cancelled</option>

      </select>
    </div>
  </div>

  <div class="table-card">
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Order ID</th>
          <th>Total</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody>
  <tr *ngFor="let order of filteredOrders"
    [class.new-order]="highlightedOrders.has(order.docId)">

    <td>{{ order.date | date:'medium' }}</td>

    <td>
      {{ order.id }}

      <span *ngIf="(notificationService.newOrderIds$ | async)?.has(order.docId)"
            class="new-badge">
        NEW
      </span>
    </td>

    <td>₹{{ order.total }}</td>

    <td>
      <span class="status-badge"
        [ngClass]="{
          'delivered': order.status === 'Delivered',
          'returned': order.status === 'Returned',
          'pending': order.status === 'Pending',
          'cancelled': order.status === 'Cancelled'
        }">
        {{ order.status }}
      </span>
    </td>

    <td>
      <select
        [(ngModel)]="order.status"
        (change)="updateStatus(order)"
        class="status-select">

        <option>Delivered</option>
        <option>Returned</option>
        <option>Pending</option>
        <option>Cancelled</option>

      </select>
    </td>

  </tr>
</tbody>

    </table>
  </div>

</div>
