<header class="header">

  <!-- LEFT -->
  <div class="left">
    <img src="assets/logo/Silora3.png" alt="Silora Logo" class="logo" />

    <!-- LOCATION WRAPPER -->
    <div class="location-wrapper">

      <!-- LOCATION CARD -->
      <div class="location-card" (click)="togglePopup()">
        <div class="location-title">
          Delivery in <b>10 mins</b>
        </div>
        <div class="location-subtitle">
          {{ userLocation }}
          <span class="arrow">▼</span>
        </div>
      </div>

      <!-- LOCATION POPUP -->
      <div class="location-dropdown" *ngIf="showPopup">

        <div class="dropdown-header">
          <span>Choose delivery location</span>
          <button class="close-btn" (click)="togglePopup()">✕</button>
        </div>

        <button class="detect-btn" (click)="fetchLocation()">
          📍 Detect my location
        </button>

        <div *ngIf="error" class="error-text">
          {{ error }}
        </div>

        <div class="divider">OR</div>

        <input type="text"
               class="location-input"
               placeholder="Search area, street, landmark"
               [(ngModel)]="searchQuery" />

        <button class="confirm-btn" (click)="searchLocation()">
          Confirm location
        </button>

      </div>

    </div>
  </div>

  <!-- CENTER SEARCH -->
  <div class="search-box">
    <input type="text"
           [placeholder]="typedText"
           class="search-input" />
    <span class="search-icon">🔍</span>
  </div>

  <!-- RIGHT -->
  <div class="right">

    <!-- LOGIN (when not logged in) -->
    <button
      *ngIf="!authService.isLoggedIn()"
      routerLink="/login"
      class="btn">
      Login
    </button>

    <!-- CART -->
      <button class="btn" (click)="openCart()">
      🛒 Cart
      <span *ngIf="cartCount > 0" class="cart-badge">
        {{ cartCount }}
      </span>
    </button>

    <!-- ORDERS (only when logged in) -->
    <button
      *ngIf="authService.isLoggedIn()"
      routerLink="/orders"
      class="btn">
      Orders
    </button>

    <!-- ADMIN (only real admin) -->
    <button
      *ngIf="authService.isAdmin()"
      routerLink="/admin"
      class="btn">
      Admin
    </button>

    <!-- LOGOUT -->
    <button
      *ngIf="authService.isLoggedIn()"
      (click)="logout()"
      class="btn">
      Logout
    </button>

  </div>

</header>
